@font-face {
  font-family: 'jaro.io icons';
  src: url('../assets/fonts/jaroioicons.woff2') format('woff2'), url('../assets/fonts/jaroioicons.eot') format('embedded-opentype'), url('../assets/fonts/jaroioicons.woff') format('woff'), url('../assets/fonts/jaroioicons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raisonnepro';
  src: url('h../assets/fonts/RaisonnePro-DemiBold.woff2') format('woff2'), url('../assets/fonts/RaisonnePro-DemiBold.eot') format('embedded-opentype'), url('../assets/fonts/RaisonnePro-DemiBold.woff') format('woff'), url('../assets/fonts/RaisonnePro-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raisonnepro';
  src: url('../assets/fonts/RaisonnePro-Bold.woff2') format('woff2'), url('../assets/fonts/RaisonnePro-Bold.eot') format('embedded-opentype'), url('../assets/fonts/RaisonnePro-Bold.woff') format('woff'), url('../assets/fonts/RaisonnePro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raisonnepro';
  src: url('../assets/fonts/RaisonnePro-Light.woff2') format('woff2'), url('../assets/fonts/RaisonnePro-Light.eot') format('embedded-opentype'), url('../assets/fonts/RaisonnePro-Light.woff') format('woff'), url('../assets/fonts/RaisonnePro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raisonnepro';
  src: url('../assets/fonts/RaisonnePro-LightOblique.eot') format('embedded-opentype'), url('../assets/fonts/RaisonnePro-LightOblique.woff') format('woff'), url('../assets/fonts/RaisonnePro-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}